* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}

.container {
    width: 80%;
    margin: auto;
}

.empty-state {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 200px;
}

.empty-state.hidden {
    display: none;
}

.empty-info {
    width: 250px;
    margin-bottom: 200px;
}

@keyframes modal-animation {
    0% {
        top: -70%;
    }

    100% {
        top: 15%;
    }
}

.add-modal {
    width: 400px;

    position: absolute;
    top: 15%;
    left: 40%;

    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 20px 0 rgba(0,0,0,.25);
    animation: modal-animation .8s ease-in-out;
}

.add-modal h1 {
    font-size: 26px;
    font-weight: 500;
}

.add-modal form {
    margin-top: 30px;
}

.add-modal form button.reset.disabled {
    cursor: not-allowed;
    opacity: .4;
}

.add-modal form button.reset.disabled:hover {
    border: 1px solid rgb(234, 234, 234);
    background-color: rgb(234, 234, 234);
}

/* Add Modal -> Account */
.add-modal form .account {
    display: flex;
    margin-bottom: 25px;
}

.add-modal form .account .reset-account {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    padding: 10px;
    box-sizing: border-box;

    border: 1px solid rgb(234, 234, 234);
    background-color: rgb(234, 234, 234);
    transition: .1s ease-in-out;
}

.add-modal form .account .reset-account:hover {
    border: 2px solid rgb(205, 111, 111);
    background-color: rgb(250, 135, 135);
}
/* -> End of Account Name <- */


/* Add Modal -> Owner Name */
.add-modal form .owner-name {
    display: flex;
    margin-bottom: 25px;
}

.add-modal form .owner-name .reset-name {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    padding: 10px;
    box-sizing: border-box;

    border: 1px solid rgb(234, 234, 234);
    background-color: rgb(234, 234, 234);
    transition: .1s ease-in-out;
}

.add-modal form .owner-name .reset-name:hover {
    border: 2px solid rgb(205, 111, 111);
    background-color: rgb(250, 135, 135);
}
/* -> End of Owner Name <- */


/* Add Modal -> Active Period */
.add-modal form .active-period {
    display: flex;
    margin-bottom: 25px;
}

.add-modal form .active-period .reset-period {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    padding: 10px;
    box-sizing: border-box;

    border: 1px solid rgb(234, 234, 234);
    background-color: rgb(234, 234, 234);
    transition: .1s ease-in-out;
}

.add-modal form .active-period .reset-period:hover {
    border: 2px solid rgb(205, 111, 111);
    background-color: rgb(250, 135, 135);
}
/* -> End of Active Period <- */

.add-modal form label {
    font-size: 14px;
    color: rgb(55, 55, 55);
}

/* Input Styling */
.add-modal form input {
    width: 100%;
    display: block;

    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px 0px 0px 3px;
    border: 1px solid rgb(234, 234, 234);
    transition: .3s ease-in-out;
    background-color: rgb(234, 234, 234);
}

.add-modal form input::placeholder {
    font-weight: 300;
}

.add-modal form input:focus {
    outline: none;
    border: 1px solid #12BC19;
}
/* End of Input Styling */

/* Buttons Styling */
.add-modal form .buttons {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.add-modal form .buttons button {
    cursor: pointer;

    width: 100%;
    border-radius: 3px;
    font-size: 15px;
    color: white;
    
    margin-top: 40px;
    padding: 6px 30px;
    box-sizing: border-box;
}

.add-modal form .buttons button.save {
    background-color: #14CC1B;
    border: 2px solid #12BC19;
}

.add-modal form .buttons button.cancel {
    background-color: #bababa;
    border: 2px solid #bababa;
    transition: .2s ease-in-out;
}

.add-modal form .buttons button.cancel:hover {
    background-color: #cc1414;
    border: 2px solid #bc1212;
}
/* End of Button Styling */

/* Tech Stack Design */
@keyframes animation-tech {
    0% {
        opacity: 0;
        top: 80%;
    }

    100%{
        opacity: 1;
        top: 25%;
    }
}

.tech-stack {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 25%;
    left: 42%;
    opacity: 1;
    
    width: 300px;
    height: 120px;
    padding: 25px;

    text-align: left;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, .25);

    animation: animation-tech .5s ease-in-out;
}

.tech-stack.hidden {
    display: none;
}

.tech-stack .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tech-stack .head .close {
    cursor: pointer;
}

.tech-stack p {
    font-size: 20px;
    font-weight: 500;
}

.tech-stack .logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main  {
    height: 100vh;
}

header {
    padding: 30px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    font-size: 14px;
    font-weight: 300;
    padding: 7px 15px;
    border-radius: 50px;
    color: #111;
    text-decoration: none;
}

header a:hover {
    color: white;
    background-color: #111;
}

section.account {
    margin-top: 50px;
}

section.account .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.account .title h3 {
    font-size: 24px;
    font-weight: 500;
}

section.account .title button {
    cursor: pointer;
    color: white;
    font-size: 15px;
    padding: 6px 30px;
    box-sizing: border-box;
    background-color: #14CC1B;
    border: 2px solid #12BC19;
    border-radius: 6px;
}

section.account table {
    margin-top: 50px;
    width: 100%;
    box-sizing: border-box;
}

section.account table thead {
    border-radius: 10px 10px 0 0;
}

section.account table thead tr td {
    font-weight: 400;
    font-size: 13px;
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: rgb(231, 231, 231)
}

section.account table thead tr td:first-child {
    border-radius: 10px 0 0 0;
}

section.account table thead tr td:last-child {
    border-radius: 0 10px 0 0;
}

section.account table tbody tr td {
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: rgb(249, 249, 249)
}

section.account table tbody tr td button {
    cursor: pointer;
    color: white;
    font-size: 14px;
    padding: 6px 15px;
    box-sizing: border-box;
    background-color: #cc1414;
    border: 2px solid #bc1212;
    border-radius: 6px;
}